@font-face {
  font-family: ACME;
  src: url(../assets/police/Acme/Acme-Regular.ttf) format(TrueType);
}
body {
  background-color: #ceb992;
  font-family: ACME;
}
body .form-control {
  background-color: #ccb486;
}
body .top {
  display: flex;
  align-items: center;
  justify-content: center;
}
body h3 {
  text-transform: uppercase;
  margin: 0.5rem;
  font-size: 5rem;
  -webkit-text-stroke: medium;
  color: #212529;
}
body header {
  background-color: #ccb486;
}
body header #Logo {
  border-radius: 80%;
  width: 9rem;
  height: 9rem;
}
body header #Logo form {
  height: 3.5;
}
body #carouselExampleCaptions {
  border: inset 2rem;
  border-radius: 1rem;
  display: flex;
  margin: 0 auto;
  background-color: #73937e;
  padding: 0 2rem;
  width: 50%;
}
body #carouselExampleCaptions .imageCarousel {
  width: 25rem;
  height: 25rem;
  margin-bottom: 8rem;
  transform: translate(35%, 2%);
}
body .modelchaussure {
  display: flex;
  flex-wrap: nowrap;
  margin: 1rem 1rem;
  background-color: #73937e;
  padding: 2rem;
  justify-content: space-between;
  flex-direction: row-reverse;
  border: inset 2rem;
  border-radius: 1rem;
}
body .modelchaussure .colonne {
  display: flex;
  flex-direction: column;
}
body .modelchaussure .colonne img {
  width: 18rem;
  height: auto;
  border: inset 0.5rem;
  border-radius: 5px;
}
body .modelchaussure .colonne button {
  border: outset 0.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  background-color: #73937e;
  color: #212529;
}
body .CoupsDeCoeur {
  text-align: center;
  font-size: 4rem;
  margin: 2rem;
  -webkit-text-stroke: medium;
}
body .PourNous {
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  color: #212529;
}
body .PourNous span {
  width: 160px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  border: inset 0.5rem;
  padding: 0.3rem;
  background-color: #73937e;
}
body .PourNous span p {
  margin: 0.3rem;
}
body .PourNous span img {
  width: -moz-max-content;
  width: max-content;
}
body h5 {
  text-transform: uppercase;
  color: #212529;
}
body .Detailcarousel {
  color: #212529;
}
body .container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 500px;
  gap: 10px;
}
body .container div {
  flex: 0 0 120px;
  border-radius: 0.5rem;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  box-shadow: 1px 5px 15px #1e0e3e;
  position: relative;
  overflow: hidden;
}
body .container div:nth-of-type(1) {
  background-color: #73937e;
  border: inset 0.5rem;
}
body .container div:nth-of-type(2) {
  background-color: #73937e;
  border: inset 0.5rem;
}
body .container div:nth-of-type(3) {
  background-color: #73937e;
  border: inset 0.5rem;
}
body .container div:nth-of-type(4) {
  background-color: #73937e;
  border: inset 0.5rem;
}
body .container div .content {
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 15px;
  opacity: 0;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  background: rgb(2, 2, 46);
  background: linear-gradient(0deg, rgba(2, 2, 46, 0.6755077031) 0%, rgba(255, 255, 255, 0) 100%);
  transform: translatey(100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
  visibility: hidden;
}
body .container div .content span {
  display: block;
  margin-top: 5px;
  font-size: 1.2rem;
}
body .container div:hover {
  flex: 0 0 250px;
  box-shadow: 1px 3px 15px #7645d8;
  transform: translatey(-30px);
}
body .container div:hover .content {
  opacity: 1;
  transform: translatey(0%);
  visibility: visible;
}
body .ArticlesMix {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
body .ArticlesMix .MixHomme {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  border: inset 0.5rem;
  border-radius: 0.5rem;
  background-color: #471323;
}
body .ArticlesMix .MixHomme img {
  width: 20rem;
}
body .ArticlesMix .MixHomme h1 {
  margin-left: 1rem;
  color: #ceb992;
}
body .ArticlesMix .MixHomme button {
  color: #212529;
  margin: 0.5rem;
  background-color: #ceb992;
  border-radius: 3px;
}
body .ArticlesMix .MixHomme div {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  color: #ceb992;
}
body .ArticlesMix .MixHomme div .Faux {
  font-size: x-large;
  -webkit-text-decoration: line-through 2px;
          text-decoration: line-through 2px;
}
body .ArticlesMix .MixHomme div p {
  font-size: xx-large;
  text-decoration: underline;
}
body .ArticlesMix .MixFemme {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  border: inset 0.5rem;
  border-radius: 0.5rem;
  background-color: #5b2e48;
}
body .ArticlesMix .MixFemme img {
  width: 20rem;
}
body .ArticlesMix .MixFemme h1 {
  margin-left: 1rem;
  color: #ceb992;
}
body .ArticlesMix .MixFemme button {
  color: #212529;
  margin: 0.5rem;
  background-color: #ceb992;
  border-radius: 3px;
}
body .ArticlesMix .MixFemme div {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  color: #ceb992;
}
body .ArticlesMix .MixFemme div .Faux {
  font-size: x-large;
  -webkit-text-decoration: line-through 2px;
          text-decoration: line-through 2px;
}
body .ArticlesMix .MixFemme div p {
  font-size: xx-large;
  text-decoration: underline;
}
body .ArticlesMix .MixEnfants {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  border: inset 0.5rem;
  border-radius: 0.5rem;
  background-color: #585563;
}
body .ArticlesMix .MixEnfants img {
  width: 20rem;
}
body .ArticlesMix .MixEnfants h1 {
  margin-left: 1rem;
  color: #ceb992;
}
body .ArticlesMix .MixEnfants button {
  color: #212529;
  margin: 0.5rem;
  background-color: #ceb992;
  border-radius: 3px;
}
body .ArticlesMix .MixEnfants div {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  color: #ceb992;
}
body .ArticlesMix .MixEnfants div .Faux {
  font-size: x-large;
  -webkit-text-decoration: line-through 2px;
          text-decoration: line-through 2px;
}
body .ArticlesMix .MixEnfants div p {
  font-size: xx-large;
  text-decoration: underline;
}
body #Logo {
  width: 30%;
}

#panier {
  background-color: #ccb486;
}

.pagepanier {
  display: flex;
}
.pagepanier .gauche {
  width: 50%;
  float: left;
  border: solid black 2px;
  margin: 0 auto auto auto;
  background-color: #73937e;
}
.pagepanier .gauche .boutonshopping {
  background-color: #73937e;
  color: #fff;
  border-radius: 25%;
  align-items: center;
  width: 10rem;
  height: 3.5rem;
}
.pagepanier .droite {
  float: right;
  margin-left: 2rem;
  width: 50%;
}
.pagepanier .droite button {
  background-color: #73937e;
  color: #fff;
  border-radius: 25%;
  align-items: center;
  width: 10rem;
  height: 3.5rem;
}

.returnTop {
  position: sticky;
  bottom: 20px;
  right: 5rem;
  color: black;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

a .bi {
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  left: 45%;
}
a :hover {
  color: rgba(0, 0, 0, 0.9);
}

.divAsideMen {
  background-color: #ccb486;
  border: 0.5px solid gray;
  border-radius: 2%;
  position: relative;
  width: 25%;
  margin: 5rem;
  float: left;
}
.divAsideMen ul {
  padding-left: 0;
}
.divAsideMen .AsideMen .homme {
  display: table;
  margin: 1rem auto;
  font-size: 2rem;
}
.divAsideMen .AsideMen a {
  display: block;
  text-decoration: none;
  color: black;
  width: 100%;
  padding: 1rem 1.9em;
}
.divAsideMen .AsideMen li {
  font-weight: bold;
}
.divAsideMen .AsideMen li :hover {
  background-color: #ca7132;
}

.card {
  margin: 1rem;
  background-color: #ccb486;
}

.Livraison,
.Reseaux {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 6rem;
}

ul {
  list-style-type: none;
}

.footerNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

section article {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
section .Reseaux .fa-brands {
  margin-left: 0.7rem;
  width: 1rem;
}/*# sourceMappingURL=style.css.map */