@font-face {
    font-family: ACME;
    src: url(../assets/police/Acme/Acme-Regular.ttf) format(TrueType);
}

body {
    width: 1440px;
    background-color: #ceb992;
    font-family: ACME;


    // Carousselle D'images

    #carouselExampleCaptions {
        border: inset 2rem;
        border-radius: 1rem;
        display: flex;
        margin: 0 auto;
        background-color: #73937e;
        padding: 0 2rem;
        width: 50%;

        .imageCarousel {
            width: 25rem;
            height: 25rem;
            margin-bottom: 8rem;
            transform: translate(35%, 2%);
        }
    }

    .modelchaussure {
        display: flex;
        flex-wrap: nowrap;
        margin: 3rem 1rem;
        background-color: #73937e;
        padding: 2rem;
        justify-content: space-between;
        flex-direction: row-reverse;
        border: inset 2rem;
        border-radius: 1rem;

        .colonne {
            display: flex;
            flex-direction: column;

            img {
                width: 18rem;
                height: auto;
                border: inset 0.5rem;
                border-radius: 5px;
            }

            button {
                border: outset 0.5rem;
                margin-top: 1rem;
                border-radius: 5px;

            }
        }




    }

    h5 {
        text-transform: uppercase;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 500px;
        gap: 10px;

        div {


            flex: 0 0 120px;
            border-radius: 0.5rem;
            transition: 0.5s ease-in-out;
            cursor: pointer;
            box-shadow: 1px 5px 15px #1e0e3e;
            position: relative;
            overflow: hidden;

            &:nth-of-type(1) {
                background-color: #73937e;
                border: inset 0.5rem;

            }

            &:nth-of-type(2) {
                background-color: #73937e;
                border: inset 0.5rem;

            }

            &:nth-of-type(3) {
                background-color: #73937e;
                border: inset 0.5rem;

            }

            &:nth-of-type(4) {
                background-color: #73937e;
                border: inset 0.5rem;

            }

            .content {
                font-size: 1.5rem;
                color: #fff;
                display: flex;
                align-items: center;
                padding: 15px;
                opacity: 0;
                flex-direction: column;
                height: 100%;
                justify-content: flex-end;
                background: rgb(2, 2, 46);
                background: linear-gradient(0deg,
                        rgba(2, 2, 46, 0.6755077030812324) 0%,
                        rgba(255, 255, 255, 0) 100%);
                transform: translatey(100%);
                transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
                visibility: hidden;

                span {
                    display: block;
                    margin-top: 5px;
                    font-size: 1.2rem;
                }
            }

            &:hover {
                flex: 0 0 250px;
                box-shadow: 1px 3px 15px #7645d8;
                transform: translatey(-30px);
            }

            &:hover .content {
                opacity: 1;
                transform: translatey(0%);
                visibility: visible;
            }
        }
    }


}



// Bouton Scroll To Top

.top {
    position: sticky;
    bottom: 20px;
    right: 2rem;
    color: black;
    font-size: 3rem;

}



// Code pour le Footer


.Livraison,
.Reseaux {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 6rem;
}

section {

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    .Reseaux {
        .fa-brands {
            margin-left: 0.7rem;
            width: 1rem;
        }
    }


}